<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.SALUDATUALCANCE3ConnectionString"
            connectionString="Data Source=DESKTOP-5EK5HLL\SQLEXPRESS03;Initial Catalog=SALUDATUALCANCE3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CADENA_CONEXION" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SALUDATUALCANCE3;Data Source=DESKTOP-5EK5HLL\SQLEXPRESS03&#xD;&#xA;"
 />
  </appSettings>
</configuration>